<!--<div class="row">-->
<!--<nb-card>-->
<!--<nb-card-body>-->
<!--<div class="col-lg-12 col" ba-panel ba-panel-title="Filters" style="z-index: 1">-->
<!--<div class="col-sm-2 col">-->
<!--<ngx-filters></ngx-filters>-->
<!--</div>-->
<!--<div class="col-sm-3 col">-->
<!--datepicker-->
<!--</div>-->
<!--<div class="col-sm-3 col">-->
<!--subject dropdown-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-lg-12 col" style="z-index: 0">-->
<!--<div class="col-lg-6 col row-eq-height" ba-panel ba-panel-title="Map Result">-->
<!--lefleat map-->
<!--</div>-->
<!--<div class="col-lg-6 col row-eq-height" ba-panel ba-panel-title="Social  Media  and EO Analysis">-->
<!--sosialmedia Chart-->
<!--tweet chart-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</nb-card-body>-->
<!--</nb-card>-->
<!--</div>-->

<div class="container">
  <div class="row">
      <div class="col-4">
          <nb-card>
              <nb-card-header>Filters</nb-card-header>
              <nb-card-body>
                  <ngx-filters></ngx-filters>
              </nb-card-body>
            </nb-card>
      </div>
    <div class="col">
        <nb-card>
            <nb-card-header>Map</nb-card-header>
            <nb-card-body>
              <ngx-lefleat></ngx-lefleat>
            </nb-card-body>
          </nb-card>
    </div>
    
  </div>
  <div class="row">
    
    <div class="col">
        <nb-card>
            <nb-card-header>Charts</nb-card-header>
            <nb-card-body>
              <ngx-chart></ngx-chart>
            </nb-card-body>
          </nb-card>
    </div>
  </div>
</div>

<!-- <div class="row"></div>
  <div class="col-xxxl-3 col-lg-12">
    <nb-card>
      <nb-card-header>Filters</nb-card-header>
      <nb-card-body>
        <ngx-filters></ngx-filters>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-lg-6">
    <nb-card>
      <nb-card-header>Map</nb-card-header>
      <nb-card-body>
        <ngx-lefleat></ngx-lefleat>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-lg-6">
    <nb-card>
      <nb-card-header>social media Chart</nb-card-header>
      <nb-card-body>
        <ngx-chart></ngx-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
