.mr-logo {
  height: 120px;
  display: block;
  margin: auto;
}

.cgi-logo {
  height: 35px;
}

.esa-logo {
  height: 43px;
  margin-left: 20px;
}

.cbds-logo {
  height: 43px;
  margin-left: 20px;
}
